// Body
$body-bg: #f8fafc;
$body-color: #34495e;
$primary-color: #667eea;
$secondary-color: #6c757d;
$warning-color: #f6ad55;

$color-warning: #f0ad4e;
$color-success: rgba(38,185,154,0.88);

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
