// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

.x_title {
    h2 {
        font-size: 20px;
    }
}
.form-horizontal {
    &.form-label-left {
        label {
            text-align: left;
        }
    }
}    
.mail_list {
    .left {
        width: 15%!important;
    }
    .right {
        width: 80%!important;
    }
}

table {
    tr {
        td {
            form {
                display: inline;
            }
        }
    }
}