// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Components
@import 'buttons';
@import 'empty-state';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

.x_title {
    h2 {
        font-size: 20px;
    }
}
.form-horizontal {
    &.form-label-left {
        label {
            text-align: left;
        }
    }
}    
.mail_list {
    .left {
        width: 15%!important;
    }
    .right {
        width: 80%!important;
    }
}

.badge-pending {
    background-color: $color-warning;
}
.badge-approved {
    background-color: $color-success;
}

.select2-selection__choice {
    background-color: red;
    button {
        margin: 0;
        padding-top: 3px!important;
    }
    span.select2-selection__choice__display {
        padding-left: 20px!important;
    }
}
table {
    tr {
        td {
            form {
                display: inline;
            }
        }
    }
}

.bg-primary {
    background-color: $primary-color !important;
    color: #fff !important;
}
.bg-warning {
    background-color: $warning-color !important;
    color: #fff !important;
}