@import url(https://fonts.googleapis.com/css?family=Nunito);
.x_title h2 {
  font-size: 20px;
}

.form-horizontal.form-label-left label {
  text-align: left;
}

.mail_list .left {
  width: 15% !important;
}
.mail_list .right {
  width: 80% !important;
}

.badge-pending {
  background-color: #f0ad4e;
}

.badge-approve {
  background-color: rgba(38, 185, 154, 0.88);
}

table tr td form {
  display: inline;
}
